.main {
}

.area {
    text-align: center;
}
.editortop {
    font-size: 20px;
    line-height: 30px;
    color: #696969;
    padding: 0.5%;
}


.byte {
    outline:none;
    resize: none;
    font-size: 15px;
    line-height: 20px;
    height: 420px;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.byte::-webkit-scrollbar {
    display: none;
}


.operation {
    outline:none;
    resize: none;
    font-size: 15px;
    line-height: 20px;
    height: 420px;
}

.br::before {
	content: "\A" ;
	white-space: pre ;
}

.table{
    table-layout: fixed;
	width: 100%;
}